# Postgres Configuration
DB_POSTGRES_URL=postgres://a:b@localhost:5432/app_db?sslmode=disable
# ClickHouse Configuration
DB_CLICKHOUSE_URL=clickhouse://a:b@localhost:9000/analytics_db

VITE_AUTH0_DOMAIN=your-tenant.auth0.com
VITE_AUTH0_CLIENT_ID=your-client-id

AUTH0_DOMAIN='key'
AUTH0_AUDIENCE='{yourApiIdentifier}'
